
/*
Orden fuentes
*/

$primary-font: $lato;
$primary-font-regular: $lato-regular;
$primary-font-bold: $lato-bold;
$primary-font-maxbold: $lato-maxbold;
$secondary-font: $spartan;
$secondary-font-lighter: $spartan-lighter;
$secondary-font-light: $spartan-light;
$secondary-font-regular: $spartan-regular;

/*
fonts size
*/

$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;