
.button {
    border: 0;
    color: $white;
    font-family: $secondary-font;
    font-weight: $secondary-font-light;
    font-size: $font-size-medium;
    margin-left: 10px;
    padding: 0 15px;
    height: 40px;


    &--red {
        background-color: $persimmon;
    }
    &--blue {
        background-color: $sky-blue;
    }
    //laptop
    @include respond-to($min-laptop) {
        &--red {
            margin-right: 30px;
        }
    }
}